textarea {
    margin: 1rem auto;
    height: 10vh;
    width: 80vw;
    display: block;
    padding: 1rem;
    border: 2px solid black;
}
h1 {
    text-align: center;
}
#btn-translate{
    margin: 0px auto;
    display: block;
}

#txt-output{
    margin-top: 5rem;
    text-align: center;
}

#output{
    height: 10vh;
    width: 80vw;
    margin: 1rem auto;
    padding: 1rem;
    display: block;
    border: 2px solid black;
}